@model ShopNuocHoaTMD.Models.EF.Product
@{
    ViewBag.Title = "Add brand";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Brand" class="nav-link">Product</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product Infomation</h3>

            @*<div class="card-tools">
                    <a href="/menu/add" class="btn btn-primary">Thêm mới</a>
                </div>*@
        </div>
        <div class="card-body">
            <div class="card-body p-0">
                @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <!-- your steps content here -->

                            <div class="card">

                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">General Infomation</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Product Images</a></li>
                                    </ul>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="activity">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="exampleInputEmail1">Brand Name</label>
                                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Example: New.." })
                                                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                                    <br />
                                                    <label for="exampleInputEmail1">Description</label>
                                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "txtDes" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4" style="padding:20px;">
                                                    <label for="exampleInputEmail1">Product Brand</label>
                                                    @Html.DropDownListFor(x => x.Brand_Id, ViewBag.Brand as SelectList, "-Select product's brand-", new { @class = "form-control" })
                                                </div>
                                                <div class="col-lg-4" style="padding:20px;">
                                                    <label for="exampleInputEmail1">Product Topic</label>
                                                    @Html.DropDownListFor(x => x.Topic_Id, ViewBag.Topic as SelectList, "-Select product's topic-", new { @class = "form-control" })
                                                </div>
                                                <div class="col-lg-4" style="padding:20px;">
                                                    <label for="exampleInputEmail1">Product Category</label>
                                                    @Html.DropDownListFor(x => x.Category_Id, ViewBag.Category as SelectList, "-Select product's topic-", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(x => x.isHome, new { @class = "custom-control-input", @id = "customCheckbox2" })
                                                            <label for="customCheckbox2" class="custom-control-label">Is Home</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(x => x.isFeature, new { @class = "custom-control-input", @id = "customCheckbox3" })
                                                            <label for="customCheckbox3" class="custom-control-label">Is Feature</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            @Html.CheckBoxFor(x => x.isHot, new { @class = "custom-control-input", @id = "customCheckbox4" })
                                                            <label for="customCheckbox4" class="custom-control-label">Is Hot</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.post -->
                                        </div>
                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="timeline">
                                            <!-- The timeline -->
                                            <div class="timeline timeline-inverse">
                                                <!-- timeline time label -->
                                                <div class="time-label">
                                                    <span class="bg-danger">
                                                        10 Feb. 2014
                                                    </span>
                                                </div>
                                                <!-- /.timeline-label -->
                                                <!-- timeline item -->
                                                <div>
                                                    <i class="fas fa-envelope bg-primary"></i>

                                                    <div class="timeline-item">
                                                        <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                                        <div class="timeline-body">
                                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                            quora plaxo ideeli hulu weebly balihoo...
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END timeline item -->
                                                <!-- timeline item -->
                                                <div>
                                                    <i class="fas fa-user bg-info"></i>

                                                    <div class="timeline-item">
                                                        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                                        <h3 class="timeline-header border-0">
                                                            <a href="#">Sarah Young</a> accepted your friend request
                                                        </h3>
                                                    </div>
                                                </div>
                                                <!-- END timeline item -->
                                                <!-- timeline item -->
                                                <div>
                                                    <i class="fas fa-comments bg-warning"></i>

                                                    <div class="timeline-item">
                                                        <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                                        <div class="timeline-body">
                                                            Take me to your leader!
                                                            Switzerland is small and neutral!
                                                            We are more like Germany, ambitious and misunderstood!
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END timeline item -->
                                                <!-- timeline time label -->
                                                <div class="time-label">
                                                    <span class="bg-success">
                                                        3 Jan. 2014
                                                    </span>
                                                </div>
                                                <!-- /.timeline-label -->
                                                <!-- timeline item -->
                                                <div>
                                                    <i class="fas fa-camera bg-purple"></i>

                                                    <div class="timeline-item">
                                                        <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                                        <div class="timeline-body">
                                                            <img src="https://placehold.it/150x100" alt="...">
                                                            <img src="https://placehold.it/150x100" alt="...">
                                                            <img src="https://placehold.it/150x100" alt="...">
                                                            <img src="https://placehold.it/150x100" alt="...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END timeline item -->
                                                <div>
                                                    <i class="far fa-clock bg-gray"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.tab-pane -->
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>
                        }
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDes', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });


        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
}
